<div align="center">
  <br /><br /><br />
<!--  <h1 class="mat-display-1">Fake </h1>-->
  <h1>
    <span class="mat-h4" style="color: orangered; font-family: arial">Fake </span>
    <strong>
      <span class="mat-display-4">
        <span style="color: #4285F4">G</span>
        <span style="color: red">o</span>
        <span style="color: orange">o</span>
        <span style="color: #4285F4">g</span>
        <span style="color: green">l</span>
        <span style="color: red">e</span>
      </span>
    </strong>
  </h1>
  <router-outlet></router-outlet>
</div>
